.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: #FAAE7B;
  border: 5px #CC8B79 solid;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw;
}

.modal-content.active {
  transform: scale(1);
}

.modal-content > div > h1 {
  text-align: center;
  padding: 20px 0 40px 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-restart {
  background-color: #9F6976;
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
}

.btn-cancel {
  background-color: red;
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
}

h1 {
  color: #432371;
}

.text-container {
  padding-bottom: 20px;
}

p {
  text-align: center;
  padding-bottom: 20px;
  color: #714674;
  font-weight: 700;
}