* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(/public/bg.png);
  background-position: center;
  background-size: cover;
}

.page {
  display: flex;
  flex-direction: column;
  perspective: 1000px;
  font-family: Roboto, sans-serif;
  font-size: 28px;
}

.wrapper {
  max-width: 1440px;
  min-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-title {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #432371;
}

.info-container {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info-container > div {
  color: #714674;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.name {
  width: 50%;
  height: 50px;
  margin: 0 auto;
}

.input {
  height: 50px;
  border: none;
  font-size: 24px;
  padding: 10px;
  color: coral;
}

.text {
  width: 70%;
}

.submit {
  width: 30%;
  outline: none;
  cursor: pointer;
}

.cards-list {
  background-color: #FAAE7B;
  border: 5px #CC8B79 solid;
  border-radius: 26px;
  max-width: 900px;
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  list-style: none;
  perspective: 1000px;
}

.cards-item {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  position: relative;
  transform: scale(1);
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .cards-item {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
  }

  .text {
    width: 65%;
  }

  .submit {
    width: 35%;
    font-size: 12px;
    line-height: 3.2;
  }
}

.cards-item:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.cards-item.flip {
  transform: rotateY(180deg);
}

.matched {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back {
  position: absolute;
  width: 101%;
  height: 100%;
  background-color: #3c143d;
  border-radius: 5px;
  backface-visibility: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-family: inherit;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
}

.btn-replay {
  background-color: #9F6976;
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
}

.footer {
  width: 100%;
  padding: 20px 0;
  line-height: 1;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}

.copyright {
  font-size: 16px;
}

.members {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.login-form{
  border: 5px #CC8B79 solid;
  border-radius: 12px;
  background-color: #FAAE7B;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
}

.login-container > div > label {
  color: #432371;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.login-container > div > input {
  max-width: 537px;
  width: 100%;
  height: 100px;
  border-radius: 100px;
  border: none;
}

.login-container > div > button {
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
  background-color: #432371;
  border-radius: 100px;
}

@media (max-width: 560px) {
  .cards-list {
    padding: 20px 20px;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .info-container > div {
    color: #714674;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
}